<body>
<section class="hero is-primary is-fullheight-with-navbar">
<h1 class="has-text-centered">Мои заказы</h1>
  <div class="container">
    <div class="notification">
<table class="table is-hoverable">
  <%@booking.each do |arr| %>
  <tr>
    <td>
      <h3 class="has-text-centered"><%=Type.find_by_id(Room.find_by_number(arr.room_id)[:type_id])[:link] %></h3>
      <div class="columns">
      <div class="column is-one-third"><%= image_tag ('/assets/' + Type.find_by_id(Room.find_by_number(arr.room_id)[:type_id])[:link] + '.jpg'), class: 'image'%></div>
    <div class="column"><strong>Номер бронирования:  </strong><%=arr.id %></div>
      <div class="column"><strong>Дата заезда:<br/></strong><%=arr.date_in %></div>
      <div class="column"><strong>Дата выезда:<br/></strong><%=arr.date_out %></div>
      <div class="column"><strong>Сумма заказа:<br/></strong><%=arr.sum %> руб/сут</div>
    </div>
    </td>
    </td>
  </tr>
  <% end %>
</table>
    </div>
  </div>
</section>
</body>