<body>
<section class="hero is-primary is-fullheight-with-navbar">
  <div class="container">
    <div class="notification">
      <h3>Вы успешно <strong>забронировали</strong> номер:<br/>
Номер бронирования: <%=@booking.id %><br/>
Дата заезда <%=@booking.date_in %><br/>
Дата выезда <%=@booking.date_out %><br/>
<%=Eating.find_by_id(@booking.eating)[:description] %><br/>
Сумма заказа <strong><%=@booking.sum %></strong> руб.<br/>
        <%=Type.find_by_link(Room.find_by_number(@booking.room)[:type_id])%></h3>
<%=link_to 'На главную страницу',root_path  %>
    </div>
  </div>
</section>
</body>