<body>
<section class="hero is-primary is-fullheight-with-navbar">\
  <section class="section">
<%if @booking.nil? %>
  <h3>К сожалению, номер бронирования некорректен или недействителен</h3>
    <div class="buttons"><%=link_to 'Ввести другой номер бронирования', new_guests_path, class: "button is-light" %></div>
      </section>
<%else %>
    <section class="section">
      <div class="container">
        <div class="notification">
  <%= form_tag(success_to_add_path, :method => "get", class: 'decor')  do%>
            <h3>Введите персональные данные заселяющихся:</h3>

    <%for i in 1..@booking %>
              <div class="form-inner column is-10 is-offset-1">
      <div class="field columns">
        <label class="label column is is-4 is-offset-1">
          Фамилия</label>
        <%= text_field_tag :surname.to_s + i.to_s, '', class: "column is is-6", required: true%>
      </div>

      <div class="field columns">
        <label class="label column is is-4 is-offset-1">
          Имя</label>
        <%= text_field_tag :name.to_s + i.to_s, '', class: "column is is-6",  required: true%>
      </div>

      <div class="field columns">
        <label class="label column is is-4 is-offset-1">
          Отчество</label>
        <%= text_field_tag :patronymic.to_s + i.to_s, '', class: "column is is-6",  required: true%>
      </div>

      <div class="field columns">
        <label class="label column is is-4 is-offset-1">
          Номер паспорта</label>
        <%= number_field_tag :passport.to_s + i.to_s, nil, in: 1000000000...9999999999, class: "column is is-6", required: true%>
      </div>
              </div>
    <% end %>
            <%= button_tag("Зарегистрировать", name: "type_value", value: [ @booking], class:"button is-info is-rounded column is is-4 is-offset-4", id: "button-search" ) %>
            </div>

            </div>
            </section>

  <% end %>

<%end %>
</section>
</body>