<body>
<section class="hero is-primary is-fullheight-with-navbar">
  <section class="section">
    <div class="container">
      <div class="notification">
        <table class="table is-hoverable">
            <tr>
            <th>ФИО</th>
              <th>Данные документа</th>
              <th>Номер комнаты</th>
              <th>Даты заезда</th>
              <th>Дата выезда</th>
            </tr>
          <%@guests.each do |guest| %>
            <tr>
           <td><%=guest.surname %>
            <%=guest.name %>
            <%=guest.patronymic %></td>
            <td><%=guest.password %></td>
            <td><%= Booking.find_by_id(guest.booking_id)[:room_id]%></td>
              <td><%=Booking.find_by_id(guest.booking_id)[:date_in] %></td>
              <td><%=Booking.find_by_id(guest.booking_id)[:date_out] %></td>
              <td><%= button_to "Гость покидает гостиницу", {name: "type_value", value: guest.id, controller:'admin', action:'adminsafe', remote: true},{class: "button is-info is-rounded",  id: "button-search", onclick: 'changeText()'} %></td>
            </tr>
<% end %>
        </table>
<%= link_to "Назад", admin_path %>
      </div>
    </div>
  </section>
  <script type="text/javascript">
      function changeText() {
          var str = document.getElementById("button-search").value;
          if (str === "Гость покидает гостиницу"){
              document.getElementById("button-search").value = "Гость покинул гостиницу";
              document.getElementById("button-search").disabled = true;
          }
      }
  </script>
</section>
</body>