<section class="hero is-primary is-fullheight-with-navbar">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'decor') do |f| %>
  <div class="form-inner column is-3 is-offset-4">
  <h3>Чтобы забронировать номер, необходимо войти в систему<br /></h3>
  <div class="field">
    <label class="label column is is-4 is-offset-1">
    <%= f.label :Имя %><br /></label>
    <%= f.text_field :name, autofocus: true, class: "column is is-10 is-offset-1" %>
    </div>

  <div class="field">
    <label class="label column is is-4 is-offset-1">
    <%= f.label :email %><br /></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "column is is-10 is-offset-1"%>

  </div>

  <div class="field">
    <label class="label column is is-4 is-offset-1">
      <%= f.label :Пароль %><br/></label>
    <%= f.password_field :password, autocomplete: "current-password", class: "column is is-10 is-offset-1" %>
  </div>

  <% if devise_mapping.rememberable? %>
      <div class="field columns">
        <div class="column is is-2 is-offset-1">
      <%= f.check_box :remember_me %>
        </div>
        <div class="label column is is-8">
      <%= f.label :Запомнить_меня %>
        </div>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Вход" , class: "button is-info is-rounded column is is-4 is-offset-4"%>
  </div>
  </div>
<% end %>
</section>
<%= render "devise/shared/links" %>
