<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <title>KursovayaRabota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbaritem" href='/'>
        <img src="/assets/logo.png" width="100" height="100%">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
          <div class="buttons">
        <span>Здравствуйте, <%= current_user.name %></span>
          </div>
          <div class="buttons">
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete , class: "button is-light"%>
        <%if current_user.admin? %>
          <%= link_to 'Кабинет администратора', admin_path, class: "button is-info" %>
        <%else %>
          <%=link_to 'Мои заказы', order_path, class: "button is-info"%>
        <%end %>
          </div>
      <% else %>
          <div class="buttons">
        <%=link_to "Вход", new_user_session_path, class: "button is-light"%>
          <%=link_to "Регистрация", new_user_registration_path, class: "button is-info"%>
      <% end %>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
  <footer class="footer">

  </footer>
  </body>
</html>