<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
    <title>KursovayaRabota</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="columns">
      <div class = "column is-three-quarters">Name Hotel</div>
      <div class = "column">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <span><%=t('layouts.application.hello, ' ) %><%= current_user.name %></span>
    <%= link_to t('layouts.application.exit'), destroy_user_session_path, :method => :delete %>
    <%if current_user.admin? %>
      <%= link_to 'Кабинет администратора', admin_path %>
    <%end %>
  <% else %>
    <%= link_to t('layouts.application.enter'), new_user_session_path %> или <%= link_to t('layouts.application.registration'), new_user_registration_path %>
  <% end %>
      </div>
    </div>
  <%= yield %>
  </header>
  </body>
</html>